.venv/
bin/
lib/
cdk.out/
python/__pycache__/
test_unit_coverage.xml
test_unit_results.xml
python/lambda/__pycache__/
tests/unit/lambdas/__pycache__/
tests/unit/cdk/__pycache__/
tests/integ/__pycache__/
__pycache__/
.coverage
.aws-sam/
python/lambda/debugpy
.cdk.json.swp
.DS_Store
test_integ_coverage.xml
test_integ_results.xml
python/lambda/debugpy-1.8.1.dist-info
output
wandb/
output.json
vpn.sh
local.sh
python/lambda/local.json
pytestdebug.log
backup.sql
.backup.sql.swp
node_modules
local.env
data/get_article_summarization.csv
data/.ipynb_checkpoints/get_article_summarization-checkpoint.csv
template_output.json

python/layer2/**/*
python/layer_more_ai/**/*
backend_template.json
